{% extends "base.html" %}

{% block head %}
    <title>Table</title>
{% endblock %}

{% block body %}
    <div>

        {% if salpics %}
            <ul style="list-style-type:none">
                <table>
                    {% for salpic in salpics %}
                        <tr>
                            {% for i in salpic %}
                            <td> {{ i }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </ul>
        {% endif %}

    </div>

{% endblock %}