{% extends "base.html" %}

{% block head %}
    <title>Display Detials</title>
{% endblock %}

{% block body %}

    <div>
        <form method="POST" >
            <label for="id">Enter row: </label>
            <input type="number" id="id" name="id"><br><br>
            <input type="submit" value="Submit" placeholder="Submit"><br>
        </form>

        {% if id %}
            <h2>{{ id }} Details</h2>
        {% endif %}

        {% if system is none %}
            <h2> Row doesn't exist in our system</h2>
        {% elif salpics %}
            <ul style="list-style-type:none">
                {% for salpic in salpics %}
                <table>
                    <tr>
                        <td>{{salpic[0]}}</td>
                        <td>{{salpic[1]}}</td>
                        <td><img src="{{salpic[2]}}"></td>
                    </tr>
                </table>
                {% endfor %}
            </ul>
        {% endif %}

    </div>

{% endblock %}